<?xml version="1.0"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="Resource Display" value="Overridden" /> <!-- Values are Overridden and DisplayAll -->
  </appSettings>
  
</configuration>
