<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>

    <!-- KEY files -->
    <add key="Test.Key.Key1Path" value="\Test Data\Infinity Engine\Games\Planescape - Torment\chitin.key" />
    <!--<add key="Test.Key.Key1Path" value="\Test Data\Infinity Engine\Games\Baldur's Gate II\chitin.key" />-->
    <!--<add key="Test.Key.Key1Path" value="\Test Data\Infinity Engine\Games\Baldur's Gate\chitin.key" />-->
    <!--<add key="Test.Key.Key1Path" value="\Test Data\Infinity Engine\Games\Icewind Dale\chitin.key" />-->
    <!--<add key="Test.Key.Key1Path" value="\Test Data\Infinity Engine\Games\Icewind Dale II\chitin.key" />-->


    <!-- TLK files -->
    <!--<add key="Test.Tlk1.Tlk1Path" value="\Test Data\Infinity Engine\Games\Planescape - Torment\Dialog.tlk" />-->
    <!--<add key="Test.Tlk1.Tlk1Path" value="\Test Data\Infinity Engine\Games\Planescape - Torment\dialogF.tlk" />-->
    <!--<add key="Test.Tlk1.Tlk1Path" value="\Test Data\Infinity Engine\Games\Baldur's Gate II\dialog.tlk" />-->
    <!--<add key="Test.Tlk1.Tlk1Path" value="\Test Data\Infinity Engine\Games\Baldur's Gate\dialog.tlk" />-->
    <!--<add key="Test.Tlk1.Tlk1Path" value="\Test Data\Infinity Engine\Games\Icewind Dale\dialog.tlk" />-->
    <!--<add key="Test.Tlk1.Tlk1Path" value="\Test Data\Infinity Engine\Games\Icewind Dale II\dialog.tlk" />-->
    <!--<add key="Test.Tlk1.Tlk1Path" value="D:\Games\Forgotten Realms\Baldurs Gate Trilogy\dialog.tlk" />-->
    <!--<add key="Test.Tlk1.Tlk1Path" value="\Test Data\Infinity Engine\Example files\tlk-files\tosc.fr.dialog\dialogF.tlk" />-->
    <!--<add key="Test.Tlk1.Tlk1Path" value="\Test Data\Infinity Engine\Example files\tlk-files\tosc.fr.dialog\dialog.tlk" />-->
    <!--<add key="Test.Tlk1.Tlk1Path" value="\Test Data\Infinity Engine\Example files\tlk-files\bg.de.dialog\dialogF.tlk" />-->
    <!--<add key="Test.Tlk1.Tlk1Path" value="\Test Data\Infinity Engine\Example files\tlk-files\bg.de.dialog\dialog.tlk" />-->


    <!-- BIFF files -->
    <add key="Test.Biff1.BiffPath" value="\Test Data\Infinity Engine\Games\Baldur's Gate\data\AREA200A.bif" />            <!-- BG -->
    <!--<add key="Test.Biff1.BiffPath" value="\Test Data\Infinity Engine\Games\Baldur's Gate II\data\Portrait.bif" />-->  <!-- BG2 -->
    <!--<add key="Test.Biff1.BiffPath" value="\Test Data\Infinity Engine\IWD\eGUIIco.bif" />-->                      <!-- IWD -->
    <!--<add key="Test.Biff1.BiffPath" value="\Test Data\Infinity Engine\IWD2\CRE.bif" />-->                         <!-- IWD2 -->
    <!--<add key="Test.Biff1.BiffPath" value="\Test Data\Infinity Engine\PST\Spells.bif" />-->                       <!-- PST -->


    <add key="Test.Biff1.ResourceEntry.Offset" value="20" />

    <add key="Test.Biff1.TilesetEntry.Offset" value="340" />   <!-- BG -->
    <!--<add key="Test.Biff1.TilesetEntry.Offset" value="2516" />-->  <!-- BG2 -->
    <!--<add key="Test.Biff1.TilesetEntry.Offset" value="4548" />-->  <!-- IWD -->
    <!--<add key="Test.Biff1.TilesetEntry.Offset" value="26020" />--> <!-- IWD2 -->
    <!--<add key="Test.Biff1.TilesetEntry.Offset" value="10116" />--> <!-- PST -->


    <!-- 2DA files -->
    <!--<add key="Test.2Da1.2daPath" value="\Test Data\Infinity Engine\Example files\2DA\BG\Encrypted1.2da" />-->
    <!--<add key="Test.2Da1.2daPath" value="\Test Data\Infinity Engine\Example files\2DA\BG\Encrypted3.2da" />-->
    <!--<add key="Test.2Da1.2daPath" value="\Test Data\Infinity Engine\Example files\2DA\IWD\ALIGNMNT.2DA" />-->
    <!--<add key="Test.2Da1.2daPath" value="\Test Data\Infinity Engine\Example files\2DA\IWD\ABRACEAD.2DA" />-->
    <!--<add key="Test.2Da1.2daPath" value="\Test Data\Infinity Engine\Example files\2DA\IWD\CACHVALD.2DA" />-->
    <!--<add key="Test.2Da1.2daPath" value="\Test Data\Infinity Engine\Example files\2DA\IWD\AREALOAD.2DA" />-->
    <!--<add key="Test.2Da1.2daPath" value="\Test Data\Infinity Engine\Example files\2DA\IWD\ABDCSCRQ.2DA" />-->
    <!--<add key="Test.2Da1.2daPath" value="\Test Data\Infinity Engine\Example files\2DA\IWD\ABRACERQ.2DA" />-->
    <add key="Test.2Da1.2daPath" value="\Test Data\Infinity Engine\Example files\2DA\IWD\CDOOM.2DA" />
    
    
    <!-- ITM 1 files -->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG2\sw1h24.ITM" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG2\SCRL1g.ITM" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG1\SW1H22.ITM" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG1\blun09.itm" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG1\misc95.itm" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG1\DAGG10.itm" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG1\HAMM04.itm" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG1\sw1h23.itm" />-->
    <add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG2\slng06.itm" />
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG2\LEAT08.itm" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\BG2\clck26.itm" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD\BOLT05.itm" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD\SHRobe.itm" />-->
    <!--<add key="Test.Item.Item1Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD\Virgin.itm" />-->


    <!-- ITM 1.1 files -->
    <!--<add key="Test.Item.Item1_1Path" value="\Test Data\Infinity Engine\Example files\ITM\PST\SPPR103.ITM" />-->
    <!--<add key="Test.Item.Item1_1Path" value="\Test Data\Infinity Engine\Example files\ITM\PST\TAIL.ITM" />-->
    <!--<add key="Test.Item.Item1_1Path" value="\Test Data\Infinity Engine\Example files\ITM\PST\BOLT04.ITM" />-->
    <!--<add key="Test.Item.Item1_1Path" value="\Test Data\Infinity Engine\Example files\ITM\PST\BAGOCOIN.ITM" />-->
    <!--<add key="Test.Item.Item1_1Path" value="\Test Data\Infinity Engine\Example files\ITM\PST\ACLUE.ITM" />-->
    <add key="Test.Item.Item1_1Path" value="\Test Data\Infinity Engine\Example files\ITM\PST\EAXE.ITM" />
    <!--<add key="Test.Item.Item1_1Path" value="\Test Data\Infinity Engine\Example files\ITM\PST\KKNIFE.ITM" />-->
    
    
    <!-- ITM 2 files -->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\60PlatAG.itm" />-->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\00SwdTCl.itm" />-->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\00Robe07.itm" />-->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\00Shld06.itm" />-->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\00ChanML.itm" />-->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\00SwdB93.itm" />-->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\60PlatPF.itm" />-->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\SnakeBi.itm" />-->
    <add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\SPWI107Z.itm" />
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\41Oria.itm" />-->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\12ShldTS.itm" />-->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\PtchRT03.itm" />-->
    <!--<add key="Test.Item.Item2Path" value="\Test Data\Infinity Engine\Example files\ITM\IWD2\MMMeteo.itm" />-->


    <!-- SPL 1 files -->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\BG1\spwi924.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\BG1\spwi944.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\BG1\spwi946.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\BG1\spwi948.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\BG1\SpWi959.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\BG2\SPCL221.SPL" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\BG2\SPCL321.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\BG2\spin822.SPL" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\BG2\SpWi309.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\BG2\Spwm188.SPL" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\IWD\SpIn111.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\IWD\SpPr305.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\IWD\SpPr411.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\IWD\SpWi110.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\IWD\spwi510.spl" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\PST\SPIN101.SPL" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\PST\SPWI107.SPL" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\PST\SPWI219.SPL" />-->
    <!--<add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\PST\SPWI504.SPL" />-->
    <add key="Test.Spell.Spell1Path" value="\Test Data\Infinity Engine\Example files\SPL\PST\SPWI909.SPL" />



    <!-- SPL 2 files -->
    <add key="Test.Spell.Spell2Path" value="\Test Data\Infinity Engine\Example files\SPL\IWD2\EffSR1.spl" />
    <!--<add key="Test.Spell.Spell2Path" value="\Test Data\Infinity Engine\Example files\SPL\IWD2\SpPr304.spl" />-->
    <!--<add key="Test.Spell.Spell2Path" value="\Test Data\Infinity Engine\Example files\SPL\IWD2\SpPr801.spl" />-->
    <!--<add key="Test.Spell.Spell2Path" value="\Test Data\Infinity Engine\Example files\SPL\IWD2\SpWi107.spl" />-->
    <!--<add key="Test.Spell.Spell2Path" value="\Test Data\Infinity Engine\Example files\SPL\IWD2\SpWi619.spl" />-->

    
    <!-- EFF 2 files -->
    <!--<add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG1\DOPPDAM.EFF" />-->
    <!--<add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG1\DOPPHIT.EFF" />-->
    <!--<add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG1\FT1HIT.EFF" />-->
    <!--<add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG1\GIANTHIT.EFF" />-->
    <!--<add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG1\LYCANHIT.EFF" />-->
    <!--<add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG1\MONSTHIT.EFF" />-->
    <!--<add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG2\archslow.EFF" />-->
    <!--<add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG2\Death.EFF" />-->
    <!--<add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG2\ghoullor.EFF" />-->
    <!--<add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG2\spcl422b.EFF" />-->
    <add key="Test.Effect.Effect2Path" value="\Test Data\Infinity Engine\Example files\EFF\BG2\SPFIEND.EFF" />
    

    <!-- CRE 1 files -->
    <add key="Test.Creature.Creature1Path" value="\Test Data\Infinity Engine\Example files\CRE\BG1\baresh.CRE" />
    <!--<add key="Test.Creature.Creature1Path" value="\Test Data\Infinity Engine\Example files\CRE\BG1\delain.CRE" />-->
    <!--<add key="Test.Creature.Creature1Path" value="\Test Data\Infinity Engine\Example files\CRE\BG1\karoug.CRE" />-->
    <!--<add key="Test.Creature.Creature1Path" value="\Test Data\Infinity Engine\Example files\CRE\BG1\tanar.CRE" />-->
    <!--<add key="Test.Creature.Creature1Path" value="\Test Data\Infinity Engine\Example files\CRE\BG1\xan6.CRE" />-->
    <!--<add key="Test.Creature.Creature1Path" value="\Test Data\Infinity Engine\Example files\CRE\BG2\bazeye02.CRE" />-->
    <!--<add key="Test.Creature.Creature1Path" value="\Test Data\Infinity Engine\Example files\CRE\BG2\famdust.CRE" />-->
    <!--<add key="Test.Creature.Creature1Path" value="\Test Data\Infinity Engine\Example files\CRE\BG2\GorTan1.CRE" />-->
    <!--<add key="Test.Creature.Creature1Path" value="\Test Data\Infinity Engine\Example files\CRE\BG2\minsc9.cre" />-->
    <!--<add key="Test.Creature.Creature1Path" value="\Test Data\Infinity Engine\Example files\CRE\BG2\valyg8.CRE" />-->


    <!-- CRE 1.2 files -->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\CRSTMAL3.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\DAKKON.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\GHYSIS.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\HIVEVAG5.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\HORSE.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\LENNY.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\MARISSA.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\MEBBETH.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\MERTWYN.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\O.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\POET.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\QUELL.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\QUENTIN.CRE" />-->
    <!--<add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\XANDER.CRE" />-->
    <add key="Test.Creature.Creature1.2Path" value="\Test Data\Infinity Engine\Example files\CRE\PST\yelaan.CRE" />

    
    <!-- CRE 9 files -->
    <add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\ACOLYTE.CRE" />
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\BeetBor.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\BEETLE.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\BHarken.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\CHARBASE.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\HOBARTF.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\InvStlk.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\LM2HWNA.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\MORDESWD.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\NYM.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\OSWALD.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\RLDMYCR.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\RLDTHIEF.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\RNDBOMB.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\RNDREMOR.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\SEER.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\TROLL.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\TROLLSNO.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\WEREWLF.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\WolfE.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\WYRM.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\WYVERN.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\YUANTI.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\YUANWAX.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\YUCHAMP.CRE" />-->
    <!--<add key="Test.Creature.Creature9Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD\ZOMBIE.CRE" />-->

    <!-- CRE 2.2 files -->
    <add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00ARIF.CRE" />
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sAbgd.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sArSkl.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sBgd.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sBwht.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sCbns.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sChZmb.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sEgBgd.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sFdnd.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sGdnd.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sGrBgd.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sMumK.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sZmbL2.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\00sZmbLo.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\11RHAEK.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\31GOBSH2.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\53DROPR.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\62neoOrC.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\62SkXvm.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\62SkXvm2.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\62Wanmok.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\63Isair.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\63Isair2.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\63IsarN.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\63IsarN2.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\63Madae.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\63Madae2.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\63MadaN.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\63MadaN2.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\63RuinL.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\63sSkXvm.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\65neoOrC.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\65neoOrE.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\65OrgSh2.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\65OrogSh.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\65OrRuin.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\66RSkXvm.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\67neoOrC.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\67SkXvm.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\67SkXvm2.CRE" />-->
    <!--<add key="Test.Creature.Creature2.2Path" value="\Test Data\Infinity Engine\Example files\CRE\IWD2\67SkXvmH.CRE" />-->

  </appSettings>
</configuration>